@import url(https://fonts.googleapis.com/css?family=Handlee|Pacifico);

.keys {
    display: flex;
    flex-wrap: wrap;
    min-height: 60vh;
    justify-content: center; /* מסדר את מה שבפלקס */
    padding: 15px;
}
html {
    border: 5px dotted black;
    animation-duration: 2s;
    animation-name: bounceIn;
}    

.key {
    cursor: pointer;
    font-style: oblique;
    white-space: pre-line; /* brakeline */
    border: 10px solid black;
    border-radius: 50%;
    font-size: 30px;
    padding: 30px;
    margin: 30px;
    text-align: center;
    text-shadow: 0 0 .5rem yellow;
    width: 100px;
    height: 100px;
}



    .key:active { /*become bigger on click */
        width: 120px;
        height: 120px;
        box-shadow: 0 5px #666;
    }



/* =====================hover chnage color========================= */
.key:hover {    
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
}
/* Standard syntax */
@keyframes example {
    from {
        background-color: blue;
    }

    to {
        background-color: white;
    }

}
.key inside:hover {
    background-color:brown
}
/* ====================cool font ================================= */
h1 {
    cursor:not-allowed;
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 3.2em;
    color: rgba(40, 66, 193, 0.84);
    text-shadow: 1px 1px 1px #5a0b0d;
}
/* ====================bounce in================================= */
@keyframes bounceIn {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    60% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

/* ===================footer================================ */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(40, 66, 193, 0.84);
}

li {
    float:left;
    border-right: 1px solid #bbb;
   
}

    li:last-child {
        border-right: none;
    }

    li a {
        font-size:41px;
        display: inline-block;
        color: white;
        text-align: center;
        padding: 25px 25px;
        text-decoration: none;

    }

        li a:hover:not(.active) {
            background-color: #111;
        }

